files:
  "/etc/nginx/conf.d/elasticbeanstalk/php.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      root /var/app/current/public;
      
      location / {
          try_files $uri $uri/ /index.php?$query_string;
      }

      location ~ \.php$ {
          fastcgi_pass unix:/run/php-fpm/www.sock;
          fastcgi_index index.php;
          fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
          include fastcgi_params;
      }

      location ~ /\.(?!well-known).* {
          deny all;
      }

commands:
  01_test_nginx:
    command: "nginx -t || true"
    ignoreErrors: true
