*
!.gitignore
!framework/
!logs/
!app/
framework/*
!framework/.gitignore
!framework/sessions/
!framework/views/
!framework/cache/
framework/sessions/*
!framework/sessions/.gitkeep
framework/views/*
!framework/views/.gitkeep
framework/cache/*
!framework/cache/.gitkeep
logs/*
!logs/.gitkeep

